<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="udp" xsi:type="NLogViewer" address="udp4://localhost:7071" />
    <target name="tcp" xsi:type="NLogViewer" address="tcp4://localhost:4505" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="udp,tcp" />
  </rules>
</nlog>